[2021-07-22 13:19] suterma opened #472 "kiwix-serve fails non-gracefully with HTTPS requests"
Note: This is NOT about enabling HTTPS (Which is discussed already in https://github.com/kiwix/kiwix-tools/issues/416)

### Problem

This is how the current implementation handles HTTPS requests. The problem is that kiwix-serve non-gracefully fails when a request is done over https. Now, the experienced behaviour described here might very well be the technically correct behaviour for a web server

[2021-07-22 13:51] suterma opened #473 "kiwix-serve does not display a startup message after invocation"
**Problem**
After invocation from the command line, kiwix-serve is not producing an console message, not even in the --verbose mode.

**Expected behavior**
After successful startup, a message like
`kiwix is running. Start browsing the library at http://192.168.12.78:8080`
should be displayed, also in non-verbose mode.

**Steps to reproduce the behavior:**
Just start kiwix-serve, e.g. using
`$ ./ki

[2021-07-24 06:00] maneeshpm commented on #173
You are right @mgautierfr within the title index, the stored terms for "battaille d'actium" are as follows
[code]
so even after stemming with `fr` language, the `d'` is not removed.

This is actually an open ticket at Xapian tracked [here](https://trac.xapian.org/ticket/609). We can on libzim side introduce language-specific preprocessing in the indexer(and queryparser) for cases not handled by Xa

[2021-07-24 13:19] kelson42 commented on #173
@maneeshpm OK, IMO the best thing to do is either to wait Xapian to fix the problem upstream... or to fix it ourself... in Xapian :)

[2021-07-24 13:19] kelson42 commented on #173
/move openzim/libzim

[2021-07-24 13:19] #173 closed

[2021-07-25 07:47] kelson42 commented on #385
Kind of duplicate of #479. Closing.

[2021-07-25 07:47] #385 closed

[2021-07-27 21:42] the-turk commented on #463
I've downloaded this file without knowing this issue. How goes the progress?

[2021-07-28 09:05] kelson42 commented on #463
Good, you will need a fit more of patience to enjoy the new version of the SO ZIM file.

[2021-07-28 09:24] the-turk commented on #463
I'm going offline for 6 months the day after tomorrow, any chance for me to get it early?

[2021-07-28 09:25] kelson42 commented on #463
No, sorry.

[2021-08-10 13:53] jmontleon opened #475 "kiwix-serve does not populate enough cards to scroll on a large screen"
On a 4k screen I get 4 rows of 7 cards. I have 130 zim files loaded and it's impossible to scroll further. In order to see more I have to resize the window (either a bit larger or smaller) to get additional cards to load, and then I am able to scroll.

[2021-08-10 14:00] kelson42 commented on #475
@jmontleon which version of kiwix-serve?

[2021-08-10 14:44] jmontleon commented on #475
master, with this new ![interface](https://user-images.githubusercontent.com/1850500/128887721-4ba8c8e7-d347-4ee8-9d28-b2acf465cb62.png) that has been in place ~ a few weeks. This did not happen prior to the update.

[2021-08-10 14:47] kelson42 commented on #475
@jmontleon what is the exact version of ypu browser? Does it work better with layest version of Firefox? Chrome?

[2021-08-10 14:48] kelson42 commented on #475
@jmontleon what is your exact screen resolution?

[2021-08-10 14:52] jmontleon commented on #475
90.0.2 on Fedora and Edge 92.0.902.67 on Windows 10 do this. 3840x2160 resolution.

Checking on a laptop with a much smaller screen I can reproduce it by reducing the zoom sufficiently.

[2021-08-10 14:57] kelson42 commented on #475
@MananJethwani Do you have enough information to reproduce/fix the bug?

[2021-08-14 17:33] kelson42 commented on #134
Thx to @maneeshpm works, this is finally fixed

[2021-08-14 17:34] #134 closed

[2021-08-19 11:36] kelson42 opened #476 "kiwix-serve should reload automatically content (library/files) if files change"
This is a follow up of #243 and request to implement a library/ZIM file monitoring to relaunch a soft loading if necessary

[2021-08-19 11:39] kelson42 commented on #243
@mgautierfr @veloman-yunkan It seems we need more an more urgently this feature. We will launch a `dev.library.kiwix.org` which purpose seems to me quite obvious and for this purpose we would really benefit of an automatic refresh if a dev. ZIM file has been newly created.

Discussing this ticket with @rgaudin it seems that we should split it in two:
* Implement first a function to reparse the lib

[2021-08-20 06:57] kelson42 commented on #223
/move openzim/sotoki

[2021-08-20 06:58] #223 closed

[2021-08-20 07:05] kelson42 commented on #472
There nothing we can do here. The client makes here a HTTPS request to a HTTP service. Obviously the kiwix-serve backend does not understand the request and it fails at TLS level. What is display if this happen is 100% under the responsability of the HTTPS client.

[2021-08-20 07:05] #472 closed

[2021-08-21 17:17] SoopaKhell opened #478 "kiwix-serve should inform the user which zim file/website their search result came from"
Currently, the web server displays search results in a very ambiguous way:

![image](https://user-images.githubusercontent.com/11081492/130329830-421c44a0-7faf-4590-a7aa-d2efe909f026.png)

There is no way to differentiate the results, or to tell what type of content one would get if they were to click each of them. It would be nice if there was a way to have kiwix-serve display the name of the sit

[2021-08-21 19:29] kelson42 commented on #478
@SoopaKhell which zim file is that?

[2021-08-21 19:46] SoopaKhell commented on #478
I believe the first two are the Philosophy Stack Exchange file from Kiwix.

[2021-08-22 04:42] move[bot] opened #479 "Kiwix-serve does not (always) print title properly"
*[move[bot]](https://github.com/apps/move) commented on Aug 20, 2021, 6:57 AM UTC:*

_@kelson42 commented on Aug 30, 2018, 6:05 AM UTC:_

With [https://download.kiwix.org/zim/stack_exchange/stackoverflow.com_eng_all_2018-08.zim](https://download.kiwix.org/zim/stack_exchange/stackoverflow.com_eng_all_2018-08.zim), the title in the search bar print escaped `%26` characters.

_This issue was moved by

[2021-08-22 04:43] #479 closed

[2021-08-22 05:24] kelson42 commented on #478
This concerns the multizim search which was available via the kiwix serve homepage. This has been deactivated temproraly as long as we don't have found a solution to that problem.

On e we will be so far, we could think about that problem. Adding a small icon (zim icon) before each result woukd maybe be good enough?

[2021-08-23 19:44] SoopaKhell commented on #478
@kelson42 Yes, that would definitely go a long way.

[2021-08-28 18:19] kelson42 commented on #473
I’m not sure I want to have this is non verbose mode, but yes for the verbose mode.

[2021-08-31 08:52] Colodore opened #480 "kiwix-serve causes the error "Assertion failed""
Hi there,

I encounter an issue with the following zim file: wikipedia_en_all_nopic_2021-01.zim

When I run the following command on my raspberry pi 4

_./kiwix-serve wikipedia_en_all_nopic_2021-01.zim_

then this error message follows:

_Assertion failed at ../../SOURCE/libzim_release/src/buffer.h:42_
 _size_.v[45692131814] < SIZE_MAX[4294967295]_
_[0x799d4]_
_[0x7fbf8]_
_[0x7d43c]_
_[0x75168]_
_

[2021-09-01 07:31] kelson42 commented on #480
@Colodore Which version of kiwix-serve to you use? Who has compiled it? Have you tried with a recent nightly https://download.kiwix.org/nightly/ ?

[2021-09-01 07:37] mgautierfr commented on #473
It agree with this. And I think it is ok to have this in non verbose mode. It is a legitimate  information to have in normal mode.

A time ago we were parsing the zim file at startup and kiwix-serve spend few time before being ready. Having a small message would have been a good thing.

[2021-09-04 11:47] Colodore commented on #480
@kelson42 thanks for your reply. I could not figure out which version that was, I downloaded and installed kiwix-serve in April 2020 from [here](https://www.kiwix.org/de/downloads/kiwix-serve/). I today uninstalled everything and re-installed the latest version from the same page, now it seems to work. At least that "Assertion failed" error does not show up anymore after a few seconds. When I star

[2021-09-04 11:51] kelson42 commented on #480
Closing for the moment. Please open a new ticket if any new problem occurs.

[2021-09-04 11:51] #480 closed

[2021-09-04 13:39] kelson42 commented on #473
Blocked by #613

[2021-09-04 18:34] rgaudin opened #482 "kiwix-serve should handle signals within docker"
AFAIK, kiwix-serve has no signal management, leaving the microhttpd server started by libkiwix handling them.

When running on my computer, kiwix-serve properly exits on `INT` (`^C`), `QUIT` and `TERM`.

When running inside docker, none of those seem to have any impact. I always have to use `KILL` (which is handled by the system).

FYI, in docker, when using `docker stop`, it emmits a `SIGTERM` an

[2021-09-05 09:24] kelson42 commented on #243
@mgautierfr @veloman-yunkan A quick feedback would be much appteciated as this is on the very top of my feature list.

[2021-09-07 12:46] mgautierfr commented on #482
I would say that kiwix-serve should behave (if specified in command line) as a standard (and correctly implemented) daemon.
We already have a `--daemon` option but it is far from a correct daemonization of the process.

https://www.freedesktop.org/software/systemd/man/daemon.html explain pretty well what need to be implemented.
I would go to totally implement (at least) the new style daemon. Old s

[2021-09-07 13:13] mgautierfr commented on #473
It is not really blocked by kiwix/libkiwix#613.
For now we are binding to all interfaces.
We can simply use "127.0.0.1" as default address when we print the message.

[2021-09-14 03:54] juuz0 opened #483 "kiwix-serve displays same output twice if a port in use is given as argument"
If I give a port which is already in use, kiwix-serve displays the following output twice
`Unable to instantiate the HTTP daemon. The port 8080 is maybe already occupied or need more permissions to be open. Please try as root or with a port number higher or equal to 1024.`

Image -  (left command was used first)
![image](https://user-images.githubusercontent.com/26814569/133192350-3625c5eb-3182-4e

[2021-09-23 14:08] karandeeppotato commented on #483
Hi there,
I'm willing to work on this, can you please assign me?

[2021-09-23 14:44] kelson42 commented on #483
@karandeeppotato You are welcome, feel free to propose a PR.

[2021-09-24 20:07] wsteven-son opened #484 "Kiwix Serve Unable to Stream Video Media to mobile devices"
Hello, I have Kiwix Serve running on Ubuntu. When a client attempts to play a video on a mobile device (for example Ted Talk on an Iphone/ipad) the video does not play. It appears to fully load in as still images are displayed but the video will not play. I have experience similiar issues with Jellyfin and believe this is a video transcoding issue. Are the videos transcoding by kiwix serve or is i

[2021-09-25 16:50] kelson42 commented on #484
Seems a duplicate of https://github.com/openzim/youtube/issues/34

[2021-09-26 15:28] kelson42 commented on #484
I confirm http://library.kiwix.org/ted_en_playlist-how-to-run-a-company-like-a-vi_2021-01/A/how-to-run-a-company-with-almost-no-rules?lang=undefined  does not play with ipados 15. Still closing because of duplication.

[2021-09-26 15:28] #484 closed

[2021-09-29 16:36] #483 closed

[2021-10-03 07:12] kelson42 commented on #482
@veloman-yunkan Would you be able to implement this ticket? Do we things which are unclear before implementation?

[2021-10-03 07:14] kelson42 commented on #243
We should implement #482 first.

[2021-10-03 10:05] kelson42 opened #486 "Wikihow en endless dies"
https://farm.openzim.org/pipeline/b535eb1a92acb871dde68516

[2021-10-03 10:11] rgaudin commented on #486
wrong repo

[2021-10-03 10:14] kelson42 commented on #486
/move openzim/wikihow

[2021-10-03 10:14] #486 closed

[2021-10-04 19:46] veloman-yunkan commented on #482
I will look at it this week.

[2021-10-09 12:40] el3ctr0lyte opened #487 "kiwix-serve complains about service workers when serving custom zim files."
I downloaded stallman.org as a zim using the youzim.it website. When i serve it using kiwix-serve and access it using localhost, it works like normal. When accessing it from an ip address, it then complains and says that i need to access the page via https for service workers to work.

![Screenshot_2021-10-09_14-37-12](https://user-images.githubusercontent.com/69082962/136658208-49f8caef-5ca8-439d

[2021-10-09 12:44] #487 closed

[2021-10-09 18:48] el3ctr0lyte commented on #487
Can i disable it somehow?

[2021-10-10 19:00] el3ctr0lyte commented on #487
Is there a way to create a zim without service workers, likw the ones on the kiwix wiki

[2021-10-14 04:32] kelson42 commented on #243
@veloman-yunkan Now than #482 is kind of sorted out can you please implement this ticket?

[2021-10-25 15:47] voillyied8122 opened #492 "Internal server error: out of memory"
I setup kiwix server on my raspi 4b (4GB RAM with raspi os lite, version : May 7th,2021) and visit the pages on another pc. After I open some zim files and search something, the error occured:
![error.JPG](https://user-images.githubusercontent.com/56959893/138723617-a434dd11-f543-45b3-ace8-5d5dfcbbd0dd.JPG)

And I closed the page, opened it again to do something else, this one occured:
![error2.JP

[2021-10-27 11:56] mad2moons opened #493 "Add additional ZIM files with no XML file?"
Downloaded 'kiwix tools' and extracted to:

/usr/local/bin

Moved main wikipedia ZIM file to /media/mynewdrive/

Created a kiwix.service file nano /etc/systemd/system/kiwix.service

[Unit]
Description=Kiwix Service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/kiwix-serve /media/mynewdrive/wikipedia_en_all_maxi_2020-11.zim -p 8080
Restart=always
RestartS

[2021-10-28 14:36] #493 closed, assigned to mgautierfr

[2021-10-30 11:40] mgautierfr commented on #243
@kelson42 Are we agree that if the couple (path/uuid) about a zim file **in the xml** has not changed, we can assume the file don't have to be reloaded (and if in cache, we don't need to drop it from the cache)?
IE, we assume that we will never have a two different zim files with same uuid and the uuid in the xml is always the real uuid (same than in the zim file).

---

Other metadata may have ch

[2021-10-30 12:41] kelson42 commented on #243
Yes, I don't see any scenario why this could go wrong and this sounds importance for the overall performance of the reload.

[2021-10-31 22:36] Jiangb2021 opened #494 "kiwix-serve.exe can not run in win server 2019 standard"
kiwix-serve.exe can not run in win server 2019 standard

[2021-11-01 15:03] kelson42 commented on #494
What is the command line you launch? What is the error message? What do you expect?

[2021-11-03 19:53] Teraskull commented on #415
Here's a more complete `docker-compose.yml` file, for future Google searches:
[code]

Run it with:
[code]

[2021-11-10 14:33] Jcwscience opened #495 "Is there a way to access the search function directly from a script?"
I’m trying to use this in a program I’m working on, but I need a way to send the server a search phrase and receive the text of a few matching articles. Is this possible currently? If so how would I go about doing it?

[2021-11-12 17:16] ivannyFosters opened #496 "Edit index.html or styles"
Hi,

Where can i find the 'index.html' file to edit the current styles of the document?
 I want to change the background, links, top taskbar, etc.
![image](https://user-images.githubusercontent.com/92957378/141507615-5304c6ab-0993-42a6-b159-cb738a2b2d70.png)

Thanks,

[2021-11-14 15:39] kelson42 commented on #496
In latest release, neither the topbar nor the welcome page can be changed (without recompiling kiwix-serve). But in current master (dev. version), there is a new `--customIndex` allowing to specify your custom welcome page template. The documentation is here https://github.com/kiwix/libkiwix/blob/master/README.md#custom-index-page. The topbar remains non-customisable.

[2021-11-14 15:39] #496 closed

[2021-11-15 14:42] ivannyFosters commented on #496
Hi, really thanks for your answer.

I tried to modify service file as: ExecStart=/bin/sh -c '/usr/local/bin/kiwix-serve --port 49849 /opt/data/kiwix/*.zim --customIndexPath /var/www/html/index.html'

Doesnt work or --customInde. Where must i edit that parameter to add my custom template?

I dont understand that part.

Thanks, regards.

[2021-11-16 11:09] mgautierfr commented on #495
If you have a kiwix-serve working (assuming address 127.0.0.1) :
- You can do a search using url `http://127.0.0.1/search?content=<zimname>&pattern=<search_phrase>`
- You will have to parse the html output (no rest API for now, sorry)
- Then you can access the content using the url `http://127.0.0.1/<zimname>/<article_path>` (the url is in the html output)

Or you can use `kiwix-search`/`zimdump`

[2021-11-17 14:42] arslan0tahir commented on #492
should we wait for new zim file or newer version of kiwix will do the job??? OR IS THERE ANY WORKAROUND TO RESOLVE THIS ISSUE TEMPORARILY.
same issue in kiwix nighly

zim: wikipedia_en_all_maxi_2021-03
kiwix: 3.1.2-5
OS: Win 10 x64

===== Unhandled error : Allocation error : not enough memory
========== INTERNAL ERROR !! ============
Requesting :
full_url : /wiki/A/Africa
method    : GET (0)
versi

[2021-11-21 16:16] kelson42 commented on #494
No feedback, I have to close the ticket.

[2021-11-21 16:16] #494 closed

[2021-11-21 16:17] #495 closed

[2021-11-22 11:42] kelson42 opened #498 "Create Kiwix-serve (API) documentation"
In particular for the API Web of kiwix-serve

[2021-11-28 07:17] kelson42 commented on #473
@juzzO Now that https://github.com/kiwix/libkiwix/pull/622 exposes the necessay material, would you be able to use it to fix this? We don’t need to way your libkiwix PR is merged.

[2021-11-28 07:21] kelson42 commented on #492
We will release 3.2.0 and see id it works better. I suspect the problem might be fixed as well with more recent zim files.

[2021-11-28 14:45] juuz0 commented on #473
@kelson42 Yes :+1:

[2021-11-29 15:16] mgautierfr commented on #492
The last version of libzim have a small workaround to mitigate the bug but the problem is still present. Only new zim files will solve completely the issue.

[2021-11-30 17:43] veloman-yunkan commented on #243
Though kiwix/libkiwix#636 provides bulk of the code for this enhancement, it will only be finalized when #497 is merged

[2021-12-01 10:07] kelson42 opened #500 "--donottrustlibrary makes kiwix-serve now crashing"
With latest HEAD master

[code]

[2021-12-01 10:09] kelson42 commented on #500
@veloman-yunkan @mgautierfr Not sure exactly why, but I suspect some kind of change in the library mgmt done recently might have cause this regression.

[2021-12-01 11:26] mgautierfr commented on #500
What is the content of `library.xml` ?

[2021-12-01 11:58] kelson42 commented on #500
[code]

[2021-12-01 11:58] kelson42 commented on #500
I wonder if we could get ride anyway of this option which seems to me to have no real usage for normal users.

[2021-12-01 14:44] #500 closed

[2021-12-01 16:44] kelson42 opened #502 "Remove option --donottrustlibrary"
This seems of no value for the moment.

[2021-12-02 14:02] mgautierfr commented on #502
As said in https://github.com/kiwix/kiwix-tools/pull/497#discussion_r758455656, if we remove this option, we may also want to remove the option in libkiwix itself.

[2021-12-02 19:15] kelson42 commented on #476
@veloman-yunkan This is probably the next on the list of tivket to implement.

[2021-12-03 15:34] #243 closed

[2021-12-03 15:35] #502 closed

[2021-12-05 13:05] kelson42 commented on #142
@mgautierfr @veloman-yunkan I think it is time here to move on this. Beside what has already been reported as problems, the goal is to limit the overall/optimize the overall memory usage. Somehow the concept of pool and pool size might be needed. Regarding the multizim search, it is quite clear to me that, to keep it usable, we will have to limit this function to a subset of the available zim file

[2021-12-05 14:17] kelson42 commented on #59
For the string format, we should do like for kiwix-desktop

[2021-12-06 09:53] #476 closed

[2021-12-09 15:10] holta opened #505 "Search regressions in nightly builds of kiwix-serve: (1) punctuation floods the UI (2) Title Search goes to the wrong URL"
1. Punctuation floods the search UI, as seen in the screenshot below.

   This is a regression compared to prior versions of kiwix-serve (an example is http://download.kiwix.org/release/kiwix-tools/kiwix-tools_linux-armhf-3.1.2-5.tar.gz which does not have this problem).

2. Title Search links fail.

   Example: when you click on `&lt;b&gt;apple&lt;/b&gt;` at the top of the search dropdown (screen

[2021-12-09 15:12] kelson42 commented on #505
@holta Thank you very much for the bug report. We should clarify if this is a problem with the ZIM or with the software.

[2021-12-09 17:51] holta commented on #505
FYI I just clarified and revised the [above explanation](https://github.com/kiwix/kiwix-tools/issues/505#issue-1075682864), providing a bit more context.

[2021-12-10 20:10] kelson42 opened #506 "Random response "kiwix:noentry" is not properly handled in kiwix-serve"
Someone it leaves the content you are exploring:
![image](https://user-images.githubusercontent.com/1029718/145635324-f0378862-218b-48a3-bb53-5017d5315026.png)

IMO, if such a scenario occurs, nothing should just happen.

The problem is pretty proeminent because of https://github.com/kiwix/libkiwix/issues/643

[2021-12-11 13:30] kelson42 commented on #505
@holta I can not reproduce the problem with the very same ZIM file, page and version of nightly (but built for x86-64).

![image](https://user-images.githubusercontent.com/1029718/145678429-ad749bea-e9e6-42a1-a073-e99f591634d4.png)

Tested with both Chrome & FF.

Please secure:
* You cache is empty
* You test without the reverse proxy of IIAB, so directly with kiwix-serve.

[2021-12-11 13:42] kelson42 commented on #142
@mgautierfr told me there is a possibility that https://github.com/kiwix/libkiwix/pull/620 just solves the problem by introducing a pool of active readers.

@veloman-yunkan @maneeshpm @veloman-yunkan Would be great to confirm before starting anything else on this ticket.

[2021-12-11 14:17] holta commented on #505
Clearing the browser cache worked to solve both problems!

- Does anybody have an idea how difficult it would be to bypass the browser cache automatically?

- So that kiwix-serve / kiwix-search stuff is never cached?

- And where would be the best place to do that?

(To keep regular users from getting very confused.)

[2021-12-11 14:29] holta commented on #505
CONTEXT: asking regular users to clear their browser cache every time they search Kiwix &mdash; will certainly not work in low-literacy societies especially :smile:

(So if there's anything Kiwix and/or IIAB should do to solve this at the root, together we definitely should!)

[2021-12-11 15:02] holta commented on #505
I forgot to mention a 3rd UX bug, that is also quite common, and likewise very frustrating:

_Oftentimes kiwix-serve's search dropdown never appears when you type into the textfield._

_No matter how long you wait after typing in a keyword (e.g. "apple")._

(In any case, this frustrating end-user dilemma also goes away when the browser cache is cleared.  I'll keep an eye on it, to try to understan

[2021-12-11 15:03] kelson42 commented on #505
@holta One topic per ticket. Please open a new ticket if you think there is an other bug.

[2021-12-11 15:38] kelson42 commented on #505
Agree, there is a weakness in kiwix-serve caching strategy since always. We will fix it, see #650.

[2021-12-11 15:38] #505 closed

[2021-12-11 15:38] tim-moody commented on #505
Even if the issue is browser cache, I still wonder where the `<b>apple</b>` got converted to `&lt;b&gt;apple`

Doesn't seem like something the cache would do. But browsers keep trying to be more 'secure', so perhaps we need to know which version of the browsers are used by @kelson42 and @holta

[2021-12-11 15:42] holta commented on #505
Confusing indeed.  (Certainly clearing the cache made the issue go away, in my testing anyway.)

PS All above tests were done using Chrome 96 as the browser.

[2021-12-11 18:30] veloman-yunkan commented on #505
@tim-moody
Obviously, the way that HTML content is handled by the front-end and back-end of the kiwix-serve suggestion machinery was changed. In this case the new front-end used cached results that have been served by the old backend or something like that.

[2021-12-12 20:00] clydzik opened #507 "Kiwix-serve with zimit created zim issues with Apache - howto"
Hello.
This is more question than issue I believe.

Recently I tried to serve pages scrapped with zimit.
I encountered issues that my scrapped page gets redirected to original page instead of served by kiwix-serve.
I would avoid of reposting stuff here - instead I will paste link to issue I created at zimit.

https://github.com/openzim/zimit/issues/110

From support I got there it seems my zim fil

[2021-12-12 20:14] kelson42 commented on #507
How you have to configure Apache to work as a reverse proxy is out of topic here, we are not Apache experts. Considering kiwix-serve, AFAIK, you don’t need anything more than kiwix-serve itself… but secure the service-worker requirements are satisfied like written in the other ticket.

[2021-12-12 22:49] tim-moody commented on #505
on a nuc with recent but not latest kiwix-serve I search for Clouston's hidrotic ectodermal dysplasia on port 3000 (no proxy) and I get the same thing in the drop down, but if I then press down arrow the text in the search box changes to Clouston&apos;s hidrotic ectodermal dysplasia. With up arrow it reverts to the original. I have never done this search before and get the same result on FF, Edge,

[2021-12-13 01:15] nessguy opened #508 "Latest dockerhub image is old"
It looks like when the most recent 'tag' (3.1.2-4) was released in January 2021 a docker image was pushed. It doesn't look like there have been any newer docker builds pushed to dockerhub since then. https://hub.docker.com/r/kiwix/kiwix-serve/tags

As of now the latest docker-image is using alpine 3.12.3 instead of 3.14.

I ran 'docker scan kiwix/kiwix-serve:latest' and got the following results:

[2021-12-13 02:42] kelson42 commented on #508
We will release 3.2.0 soon.

[2021-12-13 02:48] #508 closed

[2021-12-13 10:41] mgautierfr commented on #505
As @veloman-yunkan suggest. It is a problem of compatibility between the frontend and the backend.

    Does anybody have an idea how difficult it would be to bypass the browser cache automatically?
    So that kiwix-serve / kiwix-search stuff is never cached?
    And where would be the best place to do that?

What we are caching is not the search/suggestion/random results but the front js. If we

[2021-12-13 11:04] holta commented on #505
1) Thank you @veloman-yunkan and @mgautierfr for confirming.  That helps a lot!

2) In addition, there are also some "excess punctuation + HTML tags" bugs, even when browser cache is cleared.

   @tim-moody tried to give an example above (yesterday) but his posting was not clear.  What he meant to say was:

   (That's kiwix-tools 3.1.2-5 from http://download.kiwix.org/release/kiwix-tools/kiwix-too

[2021-12-13 11:06] rgaudin opened #509 "Missing help param"
kiwix-serve only displays its *help* output when calling it with no argument or when missing the main argument (ZIM path or library).

It's kind of unexpected for such a tool to not return the help when adding `-h` or `--help` param. Especially given kiwix-serve has no output by default.

If that's easy to support, it would help (ahah) and feel better integrated.

[2021-12-13 11:23] kelson42 commented on #505
Please open one new ticket per problem, without bug report, they might never be fixed.

[2021-12-13 11:26] kelson42 commented on #509
@rgaudin Suprising indeed…. But easy to fix. Kiwix serve will soon display something usefull when sratet, look at #473 .

[2021-12-13 11:39] holta commented on #505
Indeed this is the original problem described in the subject line of this ticket (excess punctuation, that is accidentally polluting Kiwix search UX).

[2021-12-13 12:57] rgaudin opened #510 "Why isn't monitorLibrary in usage?"
Using latest nightly, the help usage is:

[code]

There is no mention of the fantastic `monitorLibrary` option which does work with this version. Is that on purpose?

[2021-12-13 13:06] kelson42 commented on #510
@veloman-yunkan Looks like this got forgotten, can you please add it?

[2021-12-13 14:03] tim-moody commented on #505
OK. I didn't know what you meant by 'front end' This I understand

The best way to do it is probably to version the front js/html/css and add this version in the urls. Then it would be seen as different resources by the browser and it would not use a old version of the front.

Still odd that I experienced it in private mode on FF and even after I cleared the cache.

[2021-12-13 16:16] #509 closed

[2021-12-13 18:19] #510 closed

[2021-12-13 18:23] #507 closed

[2021-12-13 18:41] clydzik commented on #507
What i was able to confirm right now that when using localhost with and without `urlRootLocation` it works correctly.
So i suspect that this is apache configuration issue...

[2021-12-16 06:21] kelson42 commented on #59
@veloman-yunkan Should work like for kiwix-desktop

[2021-12-17 17:49] holta opened #513 "Long titles in suggestion dropdown choices are no longer readable (regression)"
1) Try a Title Search using [kiwix-tools_linux-x86_64-2021-12-17.tar.gz](http://download.kiwix.org/nightly/2021-12-17/kiwix-tools_linux-x86_64-2021-12-17.tar.gz) on http://iiab.me/kiwix/wikipedia_en_all_maxi_2021-03/ using the word "apple" — and then click on the topmost of the 10 choices in the search dropdown.

   ![image](https://user-images.githubusercontent.com/2458907/146585193-caad226f-3824

[2021-12-17 19:40] holta commented on #513
I've clarified the [explanation above](https://github.com/kiwix/kiwix-tools/issues/513#issue-1083485408) &mdash; thanks to anybody who might be able to explain / understand what's happening!

[2021-12-18 05:28] maneeshpm commented on #513
Testing with latest git masters of libzim/libkiwix/kiwix-serve on `wikipedia_en_all_mini_2021-01`, similar search sends to the correct page `http://localhost:8080/wikipedia_en_all_mini_2021-01/A/.apple` without any error.
@kelson42 Are you able to recreate the issue with the above mentioned version?

@holta We try to follow a suggestion system that is very close to the actual Wikipedia search. If

[2021-12-18 07:54] holta commented on #513
@maneeshpm do you know why the dropdown repeatedly shows "Apple ..."  leaving 80% of the horizontal real estate completely unused?

(No matter what 10 suggestions are offered — there really ought to be a way to visually distinguish between the offered choices — before clicking on any one of them!)

[2021-12-18 08:13] maneeshpm commented on #513
That's a valid concern, for some reason the entire name is not being shown. I'll dig into the issue.

[2021-12-18 08:49] kelson42 commented on #513
I can not confirm this behaviour. Clicking on any of the suggestions lead to the right article. In the future please test a signel kiwix-serve not in a special environnement or behind a reverse proxy.

@maneeshpm I confirm this behaviour and it does not seem normal to me.

Here is the json:

[code]

`value` json property seems correct, so I wonder why the `label` as points in place of characters `

[2021-12-18 14:17] holta commented on #513
No I do not have this feeling.

I'm not sure why people are claiming this (incorrectly).

[2021-12-18 14:36] kelson42 commented on #513
@maneeshpm After researching a bit, it seems:
* If there is a bug, this is in libzim
* It looks like an upstream Xapian bug in `mp_mset->snippet()`

[2021-12-18 15:36] maneeshpm commented on #513
@kelson42 our snippets are completely generated using `Xapian::MSet::snippet()` with very little control for ourselves. I guess waiting and checking if this issue persists even with new zim files is the way forward.

PS. I would like to mention that in my limited testing with `wikipedia_en_all_mini_2021-01`, I was not able to find any case where useful info was omitted(replaced with ...). Only tra

[2021-12-18 20:45] holta commented on #513
Thanks @maneeshpm.

Another valid concern is why the most insignificant article (even Wikipedia has since removed the article on Apple Inc's .apple vanity domain name: https://en.wikipedia.org/w/index.php?title=.apple&redirect=no) is placed at the top of the search dropdown list.

_When a child wanting to learn about real world apples...should probably be able to do that...without too many clicks

[2021-12-19 10:40] kelson42 commented on #513
@holta The content index does not really have a way to know what article is important or not. For the moment we can not expect it to know that. But we have project to improve that, see for example https://github.com/openzim/libzim/issues/653

[2021-12-19 12:47] holta commented on #513
@kelson42 thanks explaining & thanks for opening openzim/libzim#653

Short-Term Suggestion:

If the child searches for "apple", how about showing them the article they actually searched for?

https://en.wikipedia.org/wiki/apple

Or...the (identical after redirect) article:

https://en.wikipedia.org/wiki/Apple

Instead of advertising ~10 different Apple(TM) products to the young child.

RECAP: Plea

[2021-12-19 14:13] kelson42 commented on #513
@holta We are drifting from original bug report. I would wait newest WPEN zim files with libzim7 made and see then how things behave. If then there is still a problem the please open a new ticket.

[2021-12-22 16:33] #506 closed

[2021-12-22 17:38] #473 closed

[2022-01-01 15:37] juuz0 commented on #421
@kelson42 Do you have different plans on this issue now? A use of css variables can maybe get this to work while being not so complex? Like here:
https://opensource.com/article/21/10/dark-themes-websites
https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8

[2022-01-01 15:44] kelson42 commented on #421
@juuz0 This is a pretty complex topic IMO as part of the problem has to be fixed in ZIM file themselves.

[2022-01-01 19:07] Lucent commented on #421
My makeshift solution is to edit `mwoffliner/res/inserted_style.css` and add the following rules:
`#content, #mw-mf-page-center, .hatnote { background-color: unset; }
body { color: unset !important; background: unset !important; }
a { color: revert !important; }
.sidebar { background: #770 !important; }`

I then set `document.style.colorScheme` and let the dark browser theme show through. It's not

[2022-01-01 20:33] kelson42 commented on #421
@Lucent I'm a bit short of time right know to dive in (again) in the topic. But I agree, if such a small patch can help to improve the situation, even temporarly, then we should consider it. Would you be able to amke a PR for openzim/mwoffliner?

[2022-01-01 22:50] Lucent commented on #421
I know very little of the underlying structure of kiwix vs. mwoffliner--which provides the styles and which just overrides? I know some colors are embedded in the wiki itself, for example the theme colors of chemical elements pages, and those are not overriden by the Wikipedia app's dark mode.

I think the best place to attack this would be find what is specifying default colors and scrubbing that

[2022-01-03 08:02] #438 closed

[2022-01-07 02:15] ThinkingGuy opened #518 "Kiwix-serve: add option for a sub-path"
kiwix-server serves each ZIM through its own subdirectory, under the server root:

http://localhost:8080/wikipedia_en_all_maxi_2021-02
http://localhost:8080/wikipedia_ja_all_maxi
http://localhost:8080/wikipedia_es_all_maxi_2021-02

Could an option be added to make all these appear under a common (user-configurable) subfolder? For example:

http://localhost:8080/kiwix/wikipedia_en_all_maxi_2021-02

[2022-01-07 06:55] kelson42 commented on #518
@ThinkingGuy AFAIK, just rename your ZIM files like you want and you will get the result you expect.

[2022-01-09 17:03] kelson42 commented on #478
Depends on https://github.com/kiwix/kiwix-tools/issues/478

[2022-01-12 12:01] kelson42 commented on #518
Closing for now. If anythin addional is needed please reopen.

[2022-01-12 12:01] #518 closed

[2022-01-12 14:29] Popolechien opened #519 "kiwix-serve hangs on search on Pi with SO ZIM"
We made a special [Offspot image](http://tmp.kiwix.org/bard-sm.img) for use in a RaspberryPi that consists of a docker setup (using balenaEngine and docker-compose) on a Pi4 4GB that serves 3 containers:

- kiwix-serve
- a python app
- a reverse proxy (Caddy)

Apparently, when the user searches anything inside kiwix-serve, he never receives an answer and the kiwix-serve process hangs. The rest of

[2022-01-13 07:48] kelson42 commented on #519
I tried to reproduce the problem on my workstation without success. I have an i7-4770K CPU @ 3.50GHz and an old SSD. First time research "array" gives a result in ~1.5s and not more than 1GB of RAM is used. We really need to test on an RPI (ideally of the same kind and with the same kind of SD card).

[2022-01-13 16:14] rgaudin commented on #519
Additional information from user:

**top-search**
[code]

**top-idle**
[code]

[2022-01-14 10:35] holta opened #521 "kiwix-serve -r (--urlRootLocation) flag failures"
This bug does not affect Internet-in-a-Box.

But it's being reported as a service for others, at it suddenly affects all kiwix-tools nightly builds starting with 2022-01-05.

Specifically, kiwix-serve's `-r` flag (same as the `--urlRootLocation` flag) adds the specified string into the URL **twice**, which breaks all links from kiwix-serve's main/welcome page.

Example run:
`./kiwix-serve -r fooba

[2022-01-14 10:44] kelson42 commented on #521
@veloman-yunkan @mgautierfr @juuz0 URGENT We really need to fix this bug (if confirmed) before anything else. It seems we have introduced this regression a few days ago.

[2022-01-14 11:25] juuz0 commented on #521
The problem is in line 109 of `index.js` where we set `href={root}{link}`
Since https://github.com/kiwix/libkiwix/commit/66c40817eed316ea79a2f4f01d8be1e2160b6742, OPDS stream provides full URL and we dont need to append {root}. Simply removing it will fix the issue.

[2022-01-14 17:43] veloman-yunkan commented on #59
I guess this is going to be a little more complex than kiwix-desktop.

The text displayed in the front-end has 4 origins:

1. mustache templates at `libkiwix/static/templates/*.html`
2. `libkiwix/static/skin/index.js`
3. C++ source code
    3.1  `libkiwix/src/server/internalServer.cpp`: explanations of some errors, as well as the suggestion system suggesting to run a full text search by adding the

[2022-01-14 18:03] rgaudin commented on #519
OK I eventually could download the image and reproduce the issue (so did @Popolechien).

Indeed, every kiwix-request triggers a spike in `mount.exfat`'s process but the search keeps the process at 99% CPU for what feels like forever. I stopped after 12mn…

While the exact cause of the issue remains unknown, it is linked to the FUSE exfat driver that is being used.

We are not using FUSE exfat on p

[2022-01-15 07:43] kelson42 commented on #519
Closing as there is nothing more to do here.

[2022-01-15 07:43] #519 closed

[2022-01-15 08:20] kelson42 commented on #59
@veloman-yunkan The Kiwix team does not translate things, this is the duty of the Translatewiki team. As such we have to adapt to the Translatewiki workflow and this is conceived to translate "simple" UI strings. As such I believe we should include strings in template and not translate templates. If you think doing so for a concrete template might lead to problems, let me know.

Regarding plural p

[2022-01-16 09:29] veloman-yunkan commented on #59
I didn't know anything about translatewiki.net except the it is used to internationalize kiwix-desktop. My simplistic assumption was that it only supports translating plain text messages. Now I see that they support messages with `{{parameters}}` and HTML markup (of course nothing prevented us from having those in our messages anyway, but the good thing is that translators should not be confused b

[2022-01-16 09:59] veloman-yunkan commented on #59
Need to make sure that localization of kiwix-serve plays well with caching.

[2022-01-18 10:57] mgautierfr commented on #519
From what I understand, xapian organizes the stored terms be keeping orthographically similar terms (word ~= world) closed in memory.
So if you search for a term ("apple") xapian will load the memory around the "a", "ap", "app", "appl", "apple" terms. They are all located in the same region, so there is a lot of change the information is already loaded. But if you start to searching for "zoo", xap

[2022-01-23 15:41] soham-b-github commented on #159
Hi! I wish to work on it. Could you give some sort of guidance for me to proceed or maybe elaborate the issue?

[2022-01-27 07:30] ISJ-439 opened #527 "Cannot index the kiwix-serve pages using Yacy search engine."
Hello,

When loading a new page to crawl, which is a locally hosted page on the same server, I'm getting a error 503. However using Lynx, a cli web browser for linux I can load it fine.

**How would i troubleshoot this further?**

Yacy Console: https://i.imgur.com/IwpjkuS.png

Kiwix Server Logs:

[code]

[2022-01-27 08:49] kelson42 commented on #527
@ISJ-439 Thank you for your bug report. Unfortunately I don't understand it.

Please answer to the following questions:
* What is the version of kiwix-serve you use? Which system?
* What is the detailed step-by-step procedure to reproduce the bug?
* What do you get?
* What do you expect?

[2022-01-27 15:51] ISJ-439 commented on #527
Hello,

Sorry it's not clear. I also wanted to say, the only reason why I dont use the built in search is due tot he sheer volume of the library, its just too large at 990GB and 16 separate ZIM files. Yacy is also a lot better at fuzzy searching.

3.1.2

If you we're to do this by yourself:
1. On a Debian 11 system.
2.
[code]

An error 503 on a crawl but it works fine from

It to crawl the zim fil

[2022-01-27 17:05] kelson42 commented on #527
To me its sounds this should be a bug report for Yacy, which I have no clue about. If everything works fine without Yacy, then it should be investigated in that direction. The best I can imagine is that the Yacy is flooding the server which at some point is not able to answer properly anymore because of lack of resources. The fulltext search can be pretty resource intensive in particular. To start

[2022-01-27 20:28] ISJ-439 commented on #527
Thanks, the fact it's returning a 503 is why I posted it here, as that's typically a server related error.

[2022-01-27 21:01] kelson42 commented on #527
@ISJ-439 Secure that your crawler does not make more than one request per second. If you still have errors, share the corresponding log please.

[2022-01-28 00:33] ISJ-439 commented on #527
@kelson42 That may be it, any other anti-abuse settings to avoid?

[2022-01-28 04:57] kelson42 commented on #527
No, you can use the "--threads" option to increase the througout.

[2022-01-28 04:57] #527 closed

[2022-01-30 08:13] ISJ-439 commented on #527
For future googles, this was an issue with other software parsing the pages without adjusting the custom ports while doing so.

[2022-01-30 09:28] kelson42 commented on #527
@ISJ-439 Without putting in question your choice of Yaci to make fulltext searches, feel free to open a ticket or two if the current fulltext search engine (Xapian engine) misses a specific feature. We are not over with improving Kiwix search capabilities and user articulated feedbacks are therefore very valuable.

[2022-01-31 05:05] ISJ-439 opened #528 "Search Feature for Library Crashes"
**Situation:** I have 16 versions of Wikipedia, one for each year, and some for the same year and just different quarters.
**Current Result:** On the main library page I search for "Apples" an it crashes the entire process.
**Expected Result:** It would search as normal.

**Note:** The system is under powered (older CPU and non SSD) but this is only 1 search and not a heavy load.

How would I coll

[2022-01-31 05:05] ISJ-439 commented on #527
Done sir/miss: https://github.com/kiwix/kiwix-tools/issues/528

[2022-01-31 05:36] kelson42 commented on #528
I confirm the problem with multizim search. This ticket is basically a duplicate of https://github.com/kiwix/libkiwix/issues/479. It is at the very top of our priority list for libkiwix.

[2022-01-31 05:37] #528 closed

[2022-01-31 05:43] ISJ-439 opened #529 "Links to Library nested ZIM files lead to incorrect URLs"
I click a link on this page **http://FQDN:5555/2010_-_wikipedia_en_wp1-0.8_orig_2010-12/A/Main%20Page.html**

Which leads to **http://FQDN:5555/A/Wikipedia:0.8/Index.html** This causes a 404.

Workaround: Add **2010_-_wikipedia_en_wp1-0.8_orig_2010-12** before the **/A/** for a URL of **http://FQDN:5555/2010_-_wikipedia_en_wp1-0.8_orig_2010-12/A/Wikipedia:0.8/Index.html**

It's as though the syste

[2022-01-31 05:47] ISJ-439 commented on #529
I should note, this ZIM file was generated in 2010-12.

[2022-01-31 08:06] kelson42 commented on #529
This is a really old ZIM file with absolutes URLs. This is not allowed anymore. I have deprecated this file and its not part of our offering. We have more recent versions here http://library.kiwix.org/?lang=eng&q=0.8

[2022-01-31 08:06] #529 closed

[2022-02-03 15:51] kelson42 commented on #17
@mgautierfr I get once https://github.com/kiwix/libkiwix/issues/394 is implemented, we could just use a similar approach like https://github.com/kiwix/libkiwix/issues/571 ?!

[2022-02-03 16:07] kelson42 opened #531 "Any reason why kiwix-tools is not published on Ubuntu 18.04 PPA"
Following a discussion at https://askubuntu.com/q/1390705/66509

[2022-02-03 16:30] kelson42 commented on #287
With the generalisaiton of exFAT, to me the need of splitting ZIM files is really less and less needed. In addition there is a bunch of scenarios around indexes/videos where the handling is complex. I think we will never implement this.

[2022-02-03 16:30] #287 closed

[2022-02-03 16:32] kelson42 commented on #492
@voillyied8122 We have released kiwix-serve 3.2.0-1. You can find it at https://download.kiwix.org/release/kiwix-tools/. This version should not suffer of the bug you have reported. If this is still the case please reopen the ticket.

[2022-02-03 16:32] #492 closed

[2022-02-03 16:35] kelson42 commented on #106
@juuz0 Do you think you could implement this please? `6` should be the default value, but it would be good to implement an option to allow to change it: `--maxConnectionsPerIP`

[2022-02-03 16:51] N0rbert commented on #531
Thanks for reporting this. I found a workaround by using binary build as mentioned in [ArchLinux PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=kiwix-tools-bin). So for Ubuntu 18.04 LTS it transforms to:

[code]

---

Tried to compile master branch of kiwix-tools on fresh Ubuntu 18.04 LTS Docker container by

[code]

and got no errors.

So I went further and tried to compile 3.1.

[2022-02-03 16:55] kelson42 commented on #531
... or use the appropriate binary we published, you probably want https://download.kiwix.org/release/kiwix-tools/kiwix-tools_linux-x86_64-3.2.0-1.tar.gz

[2022-02-03 18:41] juuz0 commented on #106
@kelson42 Thanks, I'll look into it. You can assign me :)

[2022-02-04 16:12] juuz0 opened #532 "Can't compile kiwix-tools - deprecated warnings as errors"
Log
[code]

[2022-02-04 16:39] kelson42 commented on #532
@juuz0 These are warnings. This should not stop you to compile. This is strange that warnings are treated as error, I guess this is something related to your environement. Maybe you have `-Werror` in your `CFLAGS` env. variable? That said, what would be even better would be to adapt kiwix-tools to not use deprecated libkiwix API :)

[2022-02-04 18:18] veloman-yunkan commented on #532
@juuz0 Your kiwix-tools is old. See https://github.com/kiwix/kiwix-tools/pull/520

[2022-02-04 18:48] #532 closed

[2022-02-04 18:53] kelson42 opened #533 "Remove usage of deprecated libkiwix API"

[2022-02-06 14:12] #106 closed

[2022-02-06 14:24] kelson42 commented on #106
See my email to the microhttpd mailinglist at https://lists.gnu.org/archive/html/libmicrohttpd/2022-02/index.html

[2022-02-06 14:40] kelson42 commented on #440
@veloman-yunkan https://github.com/kiwix/libkiwix/issues/484 and https://github.com/kiwix/kiwix-tools/issues/318 have been implemented but it seems that the `notag` parameter is still there and this is actually not obvious to me how to achieve to get a similar restult as the following request with the `tag=` OR/AND `category=`filters (is that possible at all?!).

https://library.kiwix.org/catalog/

[2022-02-06 17:16] veloman-yunkan commented on #440
@kelson42 Preserving only two `notag` values from your example, the query should be

[code]

(the value of the `q` parameter with URL encoding removed is `lang:eng -tag:_category:gutenberg -tag:_category:mooc`).

However the `:` symbol in the tag values confuses the Xapian query parser, which utilizes that punctuation mark for separating the field name from the field value. For tags not containing

[2022-02-07 16:33] mgautierfr commented on #440
I somehow disagree with the idea of exposing the xapian request format in the API. Xapian is a implementation details. Filtering was made without xapian before and it may change in the future.
If we allow the user to pass a plain xapian query, then it is part of the API and it is no more a implementation choice.

We must define a search API and provide it to the user/client. If we use xapian inter

[2022-02-07 17:31] kelson42 commented on #440
@mgautierfr OK in principle, but pragmaticaly, this seems not realistic. I don't want us to mockup/reimplement somehow the full operator parsing... and we need these operators right?

[2022-02-09 06:03] holta opened #536 "library_zim.xml and root.xml show incorrect articleCount for recent ZIM files"
Both .xml "catalogs" below contain erroneous articleCount numbers — numbers that are inflated by about 2X or 3X higher than the correct number — for most (or every?) new ZIM file that was published in recent months:

- https://download.kiwix.org/library/library_zim.xml
- https://library.kiwix.org/catalog/root.xml

Example:

Both above .xml catalogs incorrectly show `articleCount="16229464"` — whic

[2022-02-09 06:31] kelson42 commented on #536
@holta This files are gnerated automatically. We can not fix the manually
@veloman-yunkan Looks strange, but seems somehow a regression has been introduced here.

[2022-02-09 12:01] veloman-yunkan commented on #536
@kelson42 What tool is used to generate the `library.xml` file? `kiwix-manage`?

[2022-02-09 12:16] veloman-yunkan commented on #536
If so then the value of `articleCount` that `kiwix::Manager` registers in library.xml for a book is obtained via [zim::Archive::getArticleCount()](https://github.com/openzim/libzim/blob/7.2.0/src/archive.cpp#L69-L78):

[code]

That version is available in `master` since Jun 17 2021.

Does our ZIM generation flow mark front articles? If not then the total number of entries from the 'C' namespace is

[2022-02-09 12:37] kelson42 commented on #536
@veloman-yunkan Yes, this is `kiwix-mange` and the values of `library.xml` should have been delivered by Libkiwix `reader::getArticleCount()` and `reader::getMediaCount()`... Looks like someone has changed something around this!

[2022-02-09 15:13] tim-moody commented on #536
As another data point here is the fragment from root.xml for the 2022/1/15 mdwiki zim:

[code]

I don't think there are 297614 articles, but articles + redirects would be that order of magnitude.

[2022-02-09 15:57] mgautierfr commented on #440
I don't know if we need them. It would be good to define what we need to support first.

The OPDS stream is mainly used by clients (program) to know the list of available zim and (potentially) filter them to display subset to the user.
There is three use cases :
- Do a request to get all zim files (without filtering) and then filter the results locally (I think it is what is done on IOs/MacOs appl

[2022-02-09 16:12] mgautierfr commented on #536
`https://library.kiwix.org/raw/mdwiki_en_all_maxi_2022-01/meta/Counter` returns :
`text/plain=10;text/css=30;application/javascript=28;image/png=5;text/html=61072;image/webp=75709;image/svg+xml; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/SVG/1.0.0"=4034;undefined=1566;image/svg+xml=22;image/gif=7` so 142 483. There is a delta of `297617-142483=55131`, it could be indeed redirect

[2022-02-09 17:40] kelson42 commented on #536
@mwoffliner is still not updated to libzim7.

[2022-02-10 00:27] holta commented on #536
ASIDE — tangentially related issues:

- https://github.com/kiwix/libkiwix/issues/416
- https://github.com/kiwix/libkiwix/issues/707

[2022-02-10 13:50] mgautierfr commented on #536
If the file has been created by libzim 6, the value returned by `getArticleCount` is the number of items in `A` namespace.

The zim header says there is 379028 items in the file.
If from `M/Counter` we suppose there is around (10+30+28+5+75709+4034+1566+22+7 = 81389) items (media) not in `A` namespace, it left 379028-81389=297639 items, which seems pretty coherent with the 297617 articles. There i

[2022-02-10 13:57] kelson42 commented on #536
@mgautierfr AFAIK, this is a regression. I was not working like this before (and should not for pre-libzim7 files).

[2022-02-10 14:13] holta commented on #536
With every recently published large ZIM file that I've checked, articleCount is off by a factor of 2X or 3X — this is not a round error (-:

@tim-moody suggests this might possibly be a result of redirects accidentally being included in the total?

[2022-02-10 14:37] ru2saig opened #537 "Segmentation fault with zimwriterfs"
I was trying to create a zim file from a not so large directory, but zimwriterfs fails with a segmentation fault. I have made an log  from strace (attached at the end). Also do ya'll need any more logs? What should I try? What other information would ya'll like?

Running Debian GNU/Linux bookworm/sid

Using kiwix-tools from the repositories
`apt show kiwix-tools` shows version at 3.2.0-2

My kiwix

[2022-02-10 15:00] mgautierfr commented on #536
Previous version was using the `M/Counter` to return the sum of all article with mimetype starting by `text/html` : https://github.com/kiwix/libkiwix/blob/9.4.1/src/reader.cpp#L119-L133

[2022-02-10 15:12] tim-moody commented on #536
when mwoffliner prints its summary it breaks out articles from redirects. This would be nice to have in the metadata,

[2022-02-10 15:28] mgautierfr commented on #536
We don't have this information. We may add it, but it is another issue.

[2022-02-10 16:57] #537 closed

[2022-02-11 20:47] kelson42 commented on #478
Duplicate of https://github.com/kiwix/libkiwix/issues/704

[2022-02-11 20:47] #478 closed

[2022-02-13 07:13] kelson42 opened #538 "Kiwix-serve welcome page not optimised"
See:

![5ABEFE45-9CD4-4FDE-AD01-D19B64ED4A81](https://user-images.githubusercontent.com/1029718/153743002-48e1f36a-d9a6-43a6-83f6-93532dab6150.png)

The problem here is that we should be able to see 3 tiles in a row, not inly 2.

I believe the problem comes from the default margin left, which applies as well to the filters: this is too high. Or at least, it shoukd be able to be smaller.

[2022-02-13 11:13] kelson42 opened #539 "Have a fancy library"
Now that we have a nice looking https://library.kiwix.org with and OPDS API. I would propose that Kiwix JS provides a nicer solution to download ZIM files. Maybe just load https://library.kiwix.org for example?

[2022-02-14 06:56] rgaudin opened #540 "Build broken for linux arm"
Since Feb 10th, the nightly build of kiwix-tools for linux arm is not going through. Haven't looked at details but date matches the last merged PR.

[2022-02-14 07:00] kelson42 commented on #540
@veloman-yunkan Here is the compilation log https://github.com/kiwix/kiwix-build/runs/5177579370?check_suite_focus=true. I suspect this is related to your last PR.

[2022-02-14 09:34] #540 closed

[2022-02-15 08:06] ankur12-1610 commented on #538
@kelson42 I would like to work on this issue!

[2022-02-16 11:36] ankur12-1610 commented on #538
@kelson42 I'm unable to reproduce this issue. In my case it has 3 rows.
![kiwix-tools](https://user-images.githubusercontent.com/76884959/154256799-fc95434d-e1bf-4cb2-9ed2-e43df832474e.png)

[2022-02-16 15:54] ankur12-1610 commented on #538
@kelson42 I could you specify at which particular media query did this happen? Cause it has the same layout as you want in my local host.

[2022-02-16 16:36] kelson42 commented on #538
@ankur12-1610 Imade this screenshot with an ipad, give a try to the responsive mode of your browser.

[2022-02-17 07:52] JensKorte opened #542 "HTML tags are shown in the text search field"
![kiwix-with-html-tags](https://user-images.githubusercontent.com/2682123/154429850-b844d25f-29e6-4f45-8465-1a4402c2f75b.png)

kiwix-tools_linux-armhf-3.2.0-1 binary download from kiwix.org. The System is a Pi400 with Gentoo 64bit. Firefox 91.6.0esr (64-Bit)

[2022-02-17 09:44] kelson42 commented on #542
@JensKorte Either your ZIM file is old or you need to make a refresh of your cach CTRL+SHIFT+R. This should work perfectly and it does for me for example at http://library.kiwix.org/wikipedia_de_all_maxi/A/Benutzer:The_other_Kiwix_guy/Landing (same version of kiwix-serve.

[2022-02-17 10:18] ankur12-1610 commented on #538
Ah! got it, @kelson42 I understood the issue and I know how to solve but the problem now is where are the CSS files, how `kiwix-tools` uses CSS, does it uses skin from another kiwix project or :sweat_smile:

[2022-02-17 10:24] kelson42 commented on #538
All in libkiwix

[2022-02-17 12:22] ankur12-1610 commented on #538
I've raised a PR, kindly review.
Thanks!

[2022-02-17 12:59] #542 closed

[2022-02-20 20:49] ISJ-439 opened #543 "[Question] Best Practices for creation of Wikipedia ZIMs from dumps?"
Hello,

I would like to create some missing ZIM files from historical Wikipedia dumps. How would I best do this?

My potential approach:
1. Download the dump.
2. Load the dump into a yet unknown program that will display the dump on a web server.
3. Run the kiwix-tools on the web server locally backing it up.

Im fairly tech savvy I just dont know what the best way to do this is, can anyone clarif

[2022-02-25 17:14] JensKorte opened #544 "kiwix-serve 3.2.0-1 sometimes doesn't deliver images, non-reproduceable"
Sometimes kiwix-serve doesn't deliver the the images of an article (or Firefox doesn't show them). I cannot reproduce it, but realized it several times since I moved from 3.1.2-5 to 3.2.0-1. I guess this can be closed quite fast, but maybe other experienced this too.

The system is a Raspberry Pi 400, Gentoo 64bit, Firefox 91.6.0esr (64-Bit). I downloaded the compiled kiwix-tools linux arm-hf.

[2022-02-25 17:17] JensKorte commented on #543
Did you have a look at https://wiki.openzim.org/wiki/Build_your_ZIM_file ? I must confess, I tried some programs some years ago and I had not found an easy solution.

[2022-02-25 18:57] kelson42 commented on #544
@JensKorte Thx for reporting... but without a clear reproduction case it will be difficukt to do anything.

[2022-02-25 18:58] kelson42 commented on #543
@ISJ-439 We don't provide any solution do to a ZIM from a Mediawiki XML dump.

[2022-02-25 18:59] #543 closed

[2022-03-02 00:18] ghost opened #545 "kiwix-serve does not support IPv6"
[code]

[2022-03-02 05:32] kelson42 commented on #545
I confirm, this is a current limitation ; but ipv6 is pretty rare in local networks.

[2022-03-04 00:38] HertzYang commented on #545
No IPv6 is the latest IP version and is widely used already.
Please consider adding IPv6 support, shouldn't be complex.

[2022-03-17 01:40] kelson42 commented on #536
Looks like this regression has been created by @mgautierfr, reassigning.

[2022-03-23 08:40] kelson42 opened #547 "Unable to configure kiwix-serve to listen on multiple interfaces to listen on"
[code]

Seems to listen only on `192.168.1.213` although it should listen on `127.0.0.1` as well.

But:

[code]

... works fine, it listens properly on all IPs.

To me this looks like a regresssion, but not sure.

[2022-03-28 11:50] voillyied8122 opened #548 "Some zim files are unavailable"
Application: kiwix-desktop_windows_x64_2.0.5 & kiwix-tool_linux-armhf-3.2.0

Files:
lowtechmagazine.com_en_all_2021-12.zim
fas-military-medicine_2022-03.zim
ready-gov_2022-03.zim
cheatography.com_en_all_2022-03.zim

The zim files seems unavailable when use kiwix reader on Windows. It seems the kiwix server will be available so I tried it later.
![win](https://user-images.githubusercontent.com/5695

[2022-04-06 15:28] #536 closed

[2022-04-12 09:58] mgautierfr commented on #547
I'm not sure it is possible (at least with libmicrohttpd).
If you don't specify a address, we use `INADDR_ANY` and this means that we listen to any/all interface. This is done by libc/kernel, not us.

I'm not sure it is possible to pass several [`MHD_OPTION_SOCK_ADDR`](https://git.gnunet.org/libmicrohttpd.git/tree/src/include/microhttpd.h#n1619) to libmicrohttpd.
It would need that libmicrohttpd l

[2022-04-13 03:44] kelson42 commented on #531
@legoktm Do you remember this?

[2022-04-13 03:46] kelson42 commented on #427
Assuming this will be fixed by https://github.com/kiwix/libkiwix/issues/394

[2022-04-13 03:50] kelson42 commented on #513
Depends on https://github.com/openzim/mwoffliner/issues/1606

[2022-05-01 09:21] ilos-vigil commented on #416
Using Caddy isn't as straightforward as i expected, so i decide to leave `Caddyfile` which meant for **local private/home network**. I'm assuming you're running Caddy and kiwix-serve as **non-root** user.

[code]

Some explanation:
* `auto_https disable_redirects`, disable Caddy's automatic HTTPS redirect feature. By default Caddy will listen on port 80 for that feature. But since Caddy lack permi

[2022-05-01 11:15] kelson42 commented on #416
@ilos-vigil We use Caddy on front for kiwix-serve in kiwix-hotspot. But, this is not going to fix anything here. It has to be in the binary itself.

[2022-05-01 12:36] ilos-vigil commented on #416
@kelson42 Thanks for the information, but i don't use kiwix-hotspot and i don't mind setting Caddy manually.

[2022-05-04 13:47] mgautierfr commented on #416
Making kiwix-serve handle ssl is feasible:
- Adapt code https://www.gnu.org/software/libmicrohttpd/tutorial.html#Adding-a-layer-of-security (easy)
- Make libkiwix depend on libgnutls and so compile libgnutls in our CI (which may be easy or not)

Managing the key and the certificate is left as a exercise to the user. Which lead to question for server started from kiwix-desktop or kiwix-android.

[2022-05-13 10:29] JensKorte opened #550 "search result order enhancement: appearence of the word"
When doing a fulltext search for the word distro in en-wp-biggest ;) I had following ideas, maybe they are helpful for ordering the results:

* the beginning/first paragraph is more important (see https://download.kiwix.org/zim/README mini/nodet)
* less important from the end: External Links/Weblinks, References/Sources, See also

highest prio is the most important and at the beginning of the page

[2022-05-16 17:47] Jaifroid opened #551 "Display of tiles on library.kiwix.org should show date of archive"
See discussion [here](https://github.com/kiwix/k8s/issues/24#issuecomment-1127936742). There are sometimes two or more ZIM archives with the same content but published/scraped on different dates. There is also no way to identify from the tile whether you are looking at a new ZIM or the same one you might already have, say, on a thumb drive, due to lack of information that allows you to identify th

[2022-05-17 09:41] mgautierfr commented on #551
Agree.
My personal preference goes to reunit such zim archives into only one tile.
By default the tile would open the "best" version. But user could select the best date/variant/flavor. See https://github.com/kiwix/libkiwix/issues/421#issuecomment-719656323
But it is a far more complex work. Displaying the date (at least) is a good solution for now.

[2022-06-01 23:03] cchapman900 commented on #402
For anyone getting the same issue but were just being dumb like me, I forgot to add the `--library` command and was trying
[code]
instead of
[code]

[2022-06-02 20:43] kelson42 opened #552 "kiwix-manage does not has proper return value if error"
See https://gitlab.com/bibliosansfrontieres/olip/apps/kiwix/-/issues/3

[2022-06-02 21:06] kelson42 commented on #552
@thetompouce Ready to test!

[2022-06-03 08:21] mgautierfr commented on #552
Fixed by #553

[2022-06-03 08:21] #552 closed

[2022-06-03 08:32] kelson42 opened #554 "Release 3.3.0"
- [x] Merge/apply latest translations from Translatewiki
- [x] CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on https://download.kiwix.org/release/kiwix-tools
- [x] Test Windows binaries work fine
- [x] Test Linux binaries work fine
- [x] Update the Github release with th

[2022-06-06 13:39] mistrjirka opened #556 "Issue with lowtech magazine and HTTPS"
Hi I found that when I try to open installed image of Lowtechmagazine it shows: "This page must be loaded via an HTTPS URL to support service workers."
Is there a way to solve that? I didn't find a way to launch kiwix with HTTPS and I do not think it is the best solution. I think it would be best to remove the service workers, but I don't know how to remove them from the .zim file.
The version of

[2022-06-06 14:27] kelson42 commented on #556
Answer to be found in this other ticket https://github.com/openzim/zimit/issues/106#issuecomment-1068907042

[2022-06-07 07:10] hhy06 opened #557 "Error: "This page must be loaded via an HTTPS URL to support service workers." for internet-encyclopedia-philosophy_en_all_2022-02.zim"
I use kiwix-serve to load "internet-encyclopedia-philosophy_en_all_2022-02.zim" and access the kiwix site in a browser. It shows, below the tool bar of search/ random article, two lines reading

"This page must be loaded via an HTTPS URL to support service workers.

[Try Loading HTTPS URL?](https://192.168.1.99:8999/internet-encyclopedia-philosophy_en_all_2022-02/A/index.html)
"

Other zims files

[2022-06-07 07:14] kelson42 commented on #557
Answer to be found in this other ticket https://github.com/openzim/zimit/issues/106#issuecomment-1068907042

[2022-06-07 07:14] #557 closed

[2022-06-20 09:18] rgaudin commented on #554
Should this be closed? `3.3.0` has been released

[2022-06-20 09:54] hashworks commented on #554
There is a [tag](https://github.com/kiwix/kiwix-tools/releases/tag/3.3.0), but no [release](https://github.com/kiwix/kiwix-tools/releases).

[2022-06-20 09:57] rgaudin commented on #554
Well, there's a public release [at official location](https://download.kiwix.org/release/kiwix-tools/)

[2022-06-20 10:39] kelson42 commented on #554
I will handle it, give me a few days

[2022-06-20 15:58] #554 closed

[2022-06-22 06:57] juuz0 commented on #538
Can I take this?
Related to https://github.com/kiwix/libkiwix/issues/585

[2022-06-26 12:56] kelson42 commented on #550
@JensKorte if we speak about a concrete example. Which search has given bad resukts or resukts in the wrong order?

[2022-06-26 16:11] JensKorte commented on #550
* I use shortened dir names, the WP is: wikipedia_en_all_maxi_2022-05
* Server: linux-armhf-3.2.0-1/kiwix-serve
* search term http://pi400.fritz.box:8888/search?content=wikipedia_en_all_maxi&pattern=Distro+

(Headings added for in github)

Instead of the result list below I would recommend something like:

* Distro
* Software distribution

Maybe followed by
* Comparison of router software projects

[2022-06-27 08:23] mgautierfr commented on #550
A fulltext search on wikipedia (using wikipedia search engine) gives https://en.wikipedia.org/w/index.php?search=distro&title=Special%3ASearch&fulltext=1&ns0=1

Beside the 3 first results, the results are pretty similar from what we provide (in the sens that both results sets are not so relevant)
What you propose is nice but it implies:
- A editorial choice. And I'm not sure that we want to do it.

[2022-06-29 06:00] eroyee commented on #538
Sorry to jump on this late, but I've just had time to try 3.3.0, previously I was using a nightly build from June '21.

I believe this is related, but if you'd prefer me to raise a separate issue please say so; I feel the screen realestate that's taken up by the whitespace in the new 'square' tiles is also pertinent here. With the attached example above the whitespace between "From Wikiversity" to

[2022-06-29 15:01] kelson42 opened #561 "Kiwix-serve should provide a page (and end-point) with meta informations"
Like for example
* When was the last reload of the library

But probably we could use that end-poing to deliver other kinds of information.

[2022-06-29 15:18] kelson42 opened #562 "If no ZIM found for a language then automatically make the search with other languages (kiwix-serve)"

[2022-07-03 06:36] ristein commented on #518
is there also a way to enable this in the docker app?
I got exactly the same problem but didn't look into the non-docker version as I thought I had to keep the terminal open for this.
I also tried apache mod_substitute with no luck...

[2022-07-04 21:16] kelson42 commented on #547
@mgautierfr The main problem is to have a command line which does do what it should do.
@juuz0 Would you be able please to (1) check if this is possible to give many addresses (2) if not possible to print an error telling that only one IP address is possible.

[2022-07-05 09:37] kelson42 commented on #547
@mgautierfr No if you ask to listen on two IPs, it should listen on two IPs, and not only on the first one (or the last one?) like today.

[2022-07-05 09:45] juuz0 opened #563 "kiwix-tools doesn't compile"
This is new to me because it always worked before.
I have tried to re-clone libkiwix and kiwix-tools too but it still won't work.
The workaround is to add
[code]
but that was never needed earlier.
Environment:
Ubuntu 22.04
GCC 11.2.0
Log:
[code]

[2022-07-05 09:50] juuz0 commented on #547
No "out of the box" way looks possible in libmicrohttpd. We can start multiple instances of `kiwix::Server` maybe?

Yes but blocked by #563. Help needed :(

[2022-07-05 09:51] juuz0 commented on #563
Can you reproduce this?

[2022-07-05 10:10] mgautierfr commented on #547
So now we have a requirement 😉

So as it is not possible to listen on several IPs, we should check if several `--address` is used and print a error

[2022-07-05 10:13] mgautierfr commented on #563
I confirm the issue.
It may be because of https://github.com/kiwix/libkiwix/pull/789 which remove some header which were including iostream and doing `using namespace std`

[2022-07-05 10:51] juuz0 commented on #563
@mgautierfr Yes, but it will also require adding `#include<iostream` in libkiwix `include/version.h`, otherwise kiwix-serve complains about that too. Would that be ok?

[2022-07-05 12:13] mgautierfr commented on #563
Yes, indeed, we need it. `include/version.h` uses `std::ostream`, so we need to include it.

[2022-07-07 04:34] #563 closed

[2022-07-10 12:27] veloman-yunkan opened #566 "kiwix-serve must exit with an error after reporting an unrecognized option"
kiwix-serve reports unrecognized options but otherwise ignores them. This can be a problem when an option is mistyped:

[code]

[2022-07-11 09:11] #566 closed

[2022-07-11 12:15] #547 closed

[2022-07-12 23:40] UncoveredBulb opened #568 "kiwix-manage error "cannot add zim url to library""
i'm using

`$ ./kiwix-manage --version
kiwix-tools 3.3.0

libkiwix 11.0.0
+ libzim 7.2.2
+ libxapian 1.4.18
+ libcurl 7.67.0
+ libmicrohttpd 0.9.72
+ libz 1.2.12
+ libicu 58.2.0
+ libpugixml 0.12.0

libzim 7.2.2
+ libzstd 1.5.2
+ liblzma 5.2.4
+ libxapian 1.4.18
+ libicu 58.2.0
`
on a raspberry pi 4 running nixos 21.11 AArch64

if i run
`$ ./kiwix-manage library_zim.xml add appropedia_en_all_maxi_

[2022-07-15 06:50] veloman-yunkan commented on #568
The documentation of Kiwix-manage at https://wiki.kiwix.org/wiki/Kiwix-manage contained several issues. Now they are fixed.

[code]

[2022-07-15 16:11] UncoveredBulb commented on #568
that works, thank you.

`[--zimPathToSave|-z=the_string_you_want_to_see_in_the_library] [--indexPath|-i=FULLTEXT_IDX_PATH]` & torrents?

[2022-07-15 16:31] #568 closed

[2022-07-20 17:41] #538 closed

[2022-07-27 19:44] grenius commented on #402
Where were you adding this to your config?  Having the same issue.

[2022-07-27 19:52] kelson42 commented on #402
@grenius Please open a new ticket if you have a new problem. Here the problem comes probably of the globbing happening in your master system, but not in your container. This shoudl do what you want:
[code]

[2022-07-27 20:11] grenius commented on #402
@kelson42 Apologies. Thanks for the help. Trying this on a raspberry pi4 8gb for the first time. I think the container is still building the library. Will report back or open a new ticket. Thanks again.

[2022-07-27 20:44] grenius commented on #402
@kelson42 just seems to hang the build, I'll open a new ticket. Thanks again.

[2022-07-27 20:58] grenius opened #570 "Kiwix-serve Docker container can't open .zim file."
My environment: raspberry Pi4 4gb/ Raspberry Pi OS Bullseye 64bit

I have the .zim file on a SSD if that's a variable worth considering.

My initial run command:

docker run -d --name kiwix -v /mnt/ssd/kiwix/:/data -p 8282:80 kiwix/kiwix-serve *.zim

Log upon container creation:

docker logs --tail 30 -f kiwix [?2004l /usr/local/bin/kiwix-serve --port=80 wikipedia_en_all_maxi_2022-05.zim Unable to

[2022-07-31 07:58] kelson42 commented on #562
@juuz0 Do you have an opinion on this idea?

[2022-07-31 07:58] kelson42 commented on #531
@legoktm Any idea?

[2022-07-31 14:28] juuz0 commented on #562
@kelson42 I think it's good and definitely useful (as I had the exact same problem as yours earlier).

Though, for the implementation, not too sure if we should be showing tiles straight away (feels like that sort of defeats the purpose of filter). Alternatively, how about showing a link after all related tiles end:
"X results found for term 'xyz' in other languages, click here to display them."
A

[2022-07-31 17:14] kelson42 commented on #570
@grenius You jave problems woth backticks. You should at least not have one at the end.

[2022-07-31 17:24] kelson42 commented on #562
I don't it would defeat the purpose of language filter if we would "always" provide as well results in other languages. It is just that the language filter won't be strict, but kind of "prefered result".

I'm in favor to run the search for all languages also only if all tiles for the prefered language are already visible ; either from the beginning or after scrolling down.

Last point: in last sec

[2022-08-01 14:51] juuz0 commented on #562
Yeah okay I agree, should I start implementing it then? @kelson42

[2022-08-01 15:01] kelson42 commented on #562
@juuz0 Not sure. Would ne great, but don't know how complex it is.

[2022-08-01 19:01] kelson42 commented on #159
https://github.com/kiwix/libkiwix/issues/471 secures we will have a favicon in kiwix-serve welcome page. But the favicon for each content should be managed in each ZIM. An here there is a lot to do as well. For the moment this is really not done properly in zimcheck and not in the scrapers either. We will have to improve that, but not sure exactly how. I will think about it in the next days.

[2022-08-03 12:40] mgautierfr commented on #562
Could it be a sorting order (queried language first, other language after) instead of a true filter ?

[2022-08-11 22:38] grenius commented on #570
@kelson42 yeah it was copied directly from your post. I removed the back tick and still no good.

[2022-08-12 05:25] kelson42 commented on #570
What do you type now and what do you get exactly?

[2022-08-14 16:41] kelson42 commented on #562
@mgautierfr I don’t think so. Ultimatively we will probably have a language filter accepting many languages.

[2022-08-15 00:54] grenius commented on #570
@kelson42 it works. Thank you for your help. Though I did move the zim off the SSD and on to internal memory. Not sure if that changed anything. Thanks again, please close this ticket.

[2022-08-15 04:43] #570 closed

[2022-08-15 06:49] kelson42 commented on #17
Moving this task to @veloman-yunkan, this is IMO now straigt and trivial to implement this option, once https://github.com/kiwix/libkiwix/pull/716 will be merged.

[2022-08-19 04:35] bwenrich opened #572 "Additional explanations in "Cannot add zim X to to the library" error"
The kiwix-manage `add` command is difficult to debug when failures happen. Multiple different scenarios produce the same error message, so it is unclear what is the problem.

I understand that there are multiple reasons why the `add` command might fail, ex:
- The Library XML does not exist
- The Library XML is not writable due to incorrect permissions
- The Library XML is not writable due to read-

[2022-08-19 05:04] kelson42 commented on #572
Sounds a good idea indeed.

[2022-09-03 13:17] DarkmatterUAE opened #573 "kiwix-serve was SIGSEGV-ed while performing search after running for a while"
kiwix-serve running on armhf platform failed with segmentation fault **after running for some time (at least for a few days)**, while I was searching something. Running kiwix-serve with --verbose captured some logs but it seems not very helpful.

Logs:
https://www.verybin.com/?343fca9b5395a26b#fyMr9ZfziGmWSbhfN8Ob9UerV3K+5JvsynUrSj9iSbA=

Platform architecture:
armhf
OS Version:
Armbian (5.88) arm

[2022-09-03 13:20] kelson42 commented on #573
@DarkmatterUAE You confirm you have compiled the binary yourself? Could you please post here the result of `kiwix-serve --version`?

[2022-09-03 13:23] DarkmatterUAE commented on #573
I downloaded it from download.kiwix.org
https://download.kiwix.org/release/kiwix-tools/kiwix-tools_linux-armhf-3.3.0.tar.gz

[2022-09-03 13:33] kelson42 commented on #573
@DarkmatterUAE OK, so I guess, if you redo the same the `kiwix-serve` does not crash?
Do you have other ZIM files served in addition to `wikipedia_en_all_nopic_2022-01`?
What is the md5sum of your `wikipedia_en_all_nopic_2022-01.zim`?

[2022-09-03 13:55] DarkmatterUAE commented on #573
This bug is kind of strange, it almost never reproduce, but the strange thing is, all the time kiwix-serve crash **during my visit** (it always crashes when I have one or two pages opened, or is searching something.  It have not crashed once while it's just running in the background and no one is reading), and it has not crashed in the first few days of starting up.

I don't have any other ZIM fil

[2022-09-04 06:00] DarkmatterUAE commented on #573
I managed to let strace traced the process and reproduced the bug just by repeatedly searching random strings. Will the logs be helpful?

[2022-09-04 06:24] kelson42 commented on #573
@DarkmatterUAE Thx for all the information. The trace might be useful yes. It seems you have no obvious problem so it might be a bug in the software indeed. You could maybe try with a nighlty from http://download.kiwix.org/nightly/2022-09-04/ considering that we will do a new release soon.

@veloman-yunkan Could you please take the lead on this bug report?

[2022-09-04 06:32] DarkmatterUAE commented on #573
The last few hundred lines of trace is posted here:
https://www.verybin.com/?a25797f616f33e0b#8DwfkmPufvbgrhAPkuI53S4otfNm/myE8kTuA0/pJA0=

Please comment if you need the full log.

[2022-09-04 07:07] kelson42 commented on #573
@DarkmatterUAE Thx, out of curiosity, you run on wich hardware? Would you be able to generate a core dump?

[2022-09-04 07:45] DarkmatterUAE commented on #573
@kelson42 I can try, how can I generate the core dump file?

[2022-09-04 07:47] kelson42 commented on #573
@DarkmatterUAE Here is a tutorial https://jvns.ca/blog/2018/04/28/debugging-a-segfault-on-linux/

[2022-09-04 08:16] DarkmatterUAE commented on #573
Got it. Core dump file link:
https://send.tresorit.com/a#-KzVhn3ZZHw3BRInnO71ew

[2022-09-04 10:48] DarkmatterUAE commented on #573
Oh, sorry. Forgot to mention that, before trying to create core dump I updated kiwix-serve to 3.3.0-1, link below:
https://download.kiwix.org/release/kiwix-tools/kiwix-tools_linux-armhf-3.3.0-1.tar.gz

kiwix-serve --version:

[2022-09-09 13:00] JosephNuthalapati2244 opened #574 "Provide a sample library.xml file"
The website mentions that there's a sample file at https://www.kiwix.org/library.xml, but the link appears to be broken.

[2022-09-09 13:08] JosephNuthalapati2244 opened #575 "Man page for kiwix-manage is outdated"
I was confused by the "url" option mentioned in the man page for kiwix-manage. I expected that kiwix-manage would download and add a ZIM file to its library with this option. However, this option doesn't exist in the latest kiwix-tools.

There is a `--url` flag for the "add" option, which adds a hyperlink to the original source of the ZIM file in the library file.

There are 3 flags mentioned in t

[2022-09-09 13:27] kelson42 commented on #574
Where is this broken link exactly?

[2022-09-10 03:17] JosephNuthalapati2244 commented on #574
Sorry, the sample library.xml file is supposed to be on the website, but it's not mentioned on the website. There are links to it from two other places:

* man page of kiwix-manage
* [Wiki page](https://wiki.kiwix.org/wiki/Kiwix-manage) of kiwix-manage

[2022-09-10 08:08] kelson42 commented on #574
I have fixed the wiki page

[2022-09-10 08:13] kelson42 commented on #574
@JosephNuthalapati2244 Thx for the bug report, I made a small PR to fix the man page. Let us know if you find other oudated things.

[2022-09-10 09:05] kelson42 commented on #575
Yes, this tool is not to download anything. I have rewritten the man page in the linked PR.

[2022-09-10 09:51] aritroCoder commented on #159
Hello, I am a beginner and would like to work on this issue, please guide me how set up a development environment and check out this issue

[2022-09-10 10:15] kelson42 commented on #159
At this stage there is nothing more we can do here, there is only work left in the scrapers.

[2022-09-21 11:33] veloman-yunkan commented on #159
@kelson42 No. I don't think it's possible (at least, not easy) to have a content dependent favicon in iframe based viewer.

[2022-09-24 18:28] kelson42 opened #577 "Release 3.4.0"
- [x] Check if library dependence version check has been updated properly in Meson
- [x] Merge/apply latest translations from Translatewiki
- [x] CI is green on git `master`
- [x] Kiwix-Build is OK
- [x] Update the Changelog
- [x] Update version
- [x] Create a tag on git
- [x] Secure new source/sbinaries are published on https://download.kiwix.org/release/kiwix-tools
- [ ] Test Windows binaries wo

[2022-09-25 09:17] kelson42 commented on #574
Our main example of `library.xml` is available here https://download.kiwix.org/library/library_zim.xml

[2022-09-25 09:17] #574 closed

[2022-09-25 18:56] #575 closed

[2022-10-06 18:45] kelson42 commented on #427
@holta If you could update this ticket we the latest nightly please? It should really be better now.

[2022-10-06 19:43] holta commented on #427
0. Testing the latest version of the original page on a narrow-screened smartphone now works!

   http://library.kiwix.org/wikipedia_es_all_maxi_2022-09/A/Mar_Caribe

1. QUESTION: Is the reason that the double-wide **.PNG** image mentioned on this ticket in December 2020 (at the bottom of this page's long section "División política") — which would originally have appeared as...

   http://library.

[2022-10-06 20:15] kelson42 commented on #427
Great to read the bug is foxed.

Library.kiwix.org usualy runs latest version, for the moment 3.3.0-1.

The exact reason why is fixed is because the topbar is now in an other iframe as the content. Therefore, the content can no have an impact on the topbar.

[2022-10-06 20:15] #427 closed

[2022-10-07 07:16] veloman-yunkan commented on #427
That's incorrect. library.kiwix.org still uses the old implementation of the taskbar. I don't think we have already released the new (iframe-based) taskbar.

[2022-10-07 07:38] monstermaker commented on #362
Having this issue with the stackoverflow.com_en_all_nopic_2022_07.zim file. the debug message says;
Here is the content of /data:
/data/stackoverflow.com_en_all_nopic_2022_07.zim

I have checked the permissions on the file and set it to 777 temporarily to make sure that permissions are not the issue. I am not sure if the leading /data is correct and the content of /data should be stackoverflow.com

[2022-10-07 07:50] kelson42 commented on #362
@monstermaker please open a new ticket with all the details about what you run, the system and the error/terminal output.

[2022-10-07 08:14] monstermaker opened #578 "docker error "Unable to add ZIM file 'stackoverflow.com_en_all_nopic_2022_07.zim' to the internal library.""
Having an issue on Ubuntu 17.04 machine with the stackoverflow.com_en_all_nopic_2022_07.zim file.
The debug message says:
"Here is the content of /data:
/data/stackoverflow.com_en_all_nopic_2022_07.zim"

I have checked the permissions on the file and set it to 777 temporarily to make sure that permissions are not the issue. I am not sure if the leading /data is correct and the content of /data sho

[2022-10-07 08:56] kelson42 commented on #578
please share the full log of coommand you run

[2022-10-07 10:32] monstermaker commented on #578
This is what I ran:
userprompt@myserver:~$ sudo docker run -v /path/to/my/folder/library:/data -p 8888:80 kiwix/kiwix-serve stackoverflow.com_en_all_nopic_2022_07.zim

The output was:

/usr/local/bin/kiwix-serve --port:80 stackoverflow.com_en_all_nopic_2022_07.zim
Unable to add ZIM file 'stackoverflow.com_en_all_nopic_2022_07.zim' to the internal library.
Here is the content of /data:
/data/stacko

[2022-10-10 08:34] monstermaker commented on #578
Problem Solved. It appears that this copy of the zim may have been corrupted.
The original zim file I ad was downloaded through windows and transferred to the Linux machine using SCP. I have now downloaded using wget on the Linux machine direct from the source and it appears to be working.

[2022-10-10 08:34] #578 closed

[2022-10-10 15:36] monstermaker opened #579 "docker kiwix-serve crashing"
I have been running the stackoverflow zim file and found that the server crashes intermittently. Initially, it appeared to crash whenever you used the search with keywords "add" and "delete" in it, but then it stopped crashing on these and sometimes just crashes.
I cannot see the exit message as it appears to list the contents of the /data folder on crashing which appears as a very long list in my

[2022-10-11 08:04] monstermaker commented on #579
After running docker logs on the instance with the less switch I have found that there is no error output. I get just the standard output telling me the IP and port etc. and that it is running and then immediately after that the debug output of "the content of /data is" followed by hundreds of lines of the content as described above.
Additionally using docker stats on the instance shows extensive

[2022-10-11 15:10] monstermaker commented on #579
OK. so ran this for 4 hours with up to 14 users trying it, sometimes together sometimes separately and with no issues. the server stayed up and monitored the docker container, the CPU and memory usage were quite low, although higher in the stats than I would expect (docker is still fairly new to me). Everything appears stable on a small zim file.
I tried on the stackoverflow file again and sure en

[2022-10-12 07:39] veloman-yunkan commented on #579
@kelson42 I will try to reproduce the crash

[2022-10-12 08:05] veloman-yunkan commented on #579
Crash was reproduced using the latest (3.3.0-1) docker image of kiwix-serve. Will debug it.

[2022-10-12 09:14] monstermaker commented on #579
thanks @mgautierfr that makes sense.

[2022-10-12 09:26] kelson42 commented on #573
Hopefuly this is a duplicate of #579, so there will be a fix in 3.3.1

[2022-10-12 09:47] veloman-yunkan commented on #579
After kiwix-serve is started, it can take only two properly timed requests to the `/suggest` endpoint to result in a segmentation fault.

[2022-10-12 10:04] veloman-yunkan commented on #579
On my machine, with hot filesystem the following script crashes kiwix-serve with quite high probability:

[code]

[2022-10-12 10:06] veloman-yunkan commented on #579
Such a crash scenario should greatly facilitate debugging.

[2022-10-13 08:27] veloman-yunkan commented on #579
These crashes caused by concurrent suggestion requests on the same book are most likely due to the combination of:

1. the class`zim::SuggestionSearcher` and friends (`zim::SuggestionSearch`, `zim::SuggestionDataBase`, etc) not being thread safe, and
2. caching of the searcher objects introduced by kiwix/libkiwix#620

Therefore concurrent `/search` requests on the same book should be subject to a

[2022-10-13 08:41] kelson42 commented on #579
Top prio to fix obviously and no nrw release of libzim/libkiwix should be done before fixing. I would appreciate if such scenarios are intoduce in automated testa too.

[2022-10-13 08:58] mgautierfr commented on #579
The search should be protected again race condition : https://github.com/kiwix/libkiwix/blob/master/include/library.h#L145-L158 and https://github.com/kiwix/libkiwix/blob/master/src/server/internalServer.cpp#L781

I don't know why this is not the same case for suggestion.

[2022-10-13 09:25] veloman-yunkan commented on #579
Protection against race conditions in `/search` endpoint was [introduced](https://github.com/kiwix/libkiwix/pull/729/commits/1514661c26596738f8aef4ec9327414f871a954f) later on in kiwix/libkiwix#729 in the context of implementing a significant enhancement to search. The fact that a similar bug existed in a similar piece of code went unnoticed.

[2022-10-13 09:27] mgautierfr commented on #579
Yes, but I have seen the issue for search (and so implement the protection) but I totally missed the case for suggestion.

[2022-10-18 15:00] #579 closed

[2022-10-19 08:04] monstermaker commented on #579
Will the docker image be updated with this fix?

[2022-10-19 08:37] kelson42 commented on #579
@monstermaker Yes, once the release will be done... soon but no clear date for the moemnt.

[2022-10-19 10:20] kelson42 commented on #573
Closing, please reopen if not fixed in next kiwix-tools release

[2022-10-19 10:20] #573 closed

[2022-10-20 17:17] holta commented on #344
@mgautierfr if you'll forgive me answering your question 2.5 years later (:

- Students in poor countries increasingly commonly now have many Gigabytes available on their personal phones, to take ZIM files home for the weekend *(this is a huge change from 5 years ago!)*
- Of course NGINX can do the job fine (bringing entire ZIM file from school server to student phone) but URL standardization migh

[2022-10-21 19:40] TimJentzsch opened #584 "Add date and media type to content packages"

[2022-10-24 19:25] kelson42 commented on #142
@mgautierfr @veloman-yunkan I wonder if such an improvement woukd really bring much now that multizim search works fine. What do you think?

[2022-10-24 19:26] kelson42 commented on #59
@veloman-yunkan Do I’m right to say that all the preparatory work needed to implement this ticket has meanwhile been done?

[2022-10-29 01:28] jboolean commented on #402
Ran across this issue and solved it by using an older version of the docker image. Version 3.1.0 works but something must have broken in 3.2.0.

[2022-10-29 09:45] kelson42 commented on #358
@veloman-yunkan Would you be able to fix that one quickly? Seems pretty straight forward to me.

[2022-10-31 09:54] veloman-yunkan commented on #142
I believe the following discussion in the scope of  kiwix/libkiwix#729 is relevant to this ticket:

https://github.com/kiwix/libkiwix/pull/729#pullrequestreview-962934677
https://github.com/kiwix/libkiwix/pull/729#issuecomment-1118553265
https://github.com/kiwix/libkiwix/pull/729#issuecomment-1135788388

[2022-10-31 09:57] veloman-yunkan commented on #59
@kelson42 Not exactly. Introduction of the iframe-based viewer shifted some burden of localization from backend to frontend.

[2022-10-31 09:58] veloman-yunkan commented on #358
@kelson42 Will do.

[2022-10-31 11:02] kelson42 commented on #358
@veloman-yunkan Thank you

[2022-10-31 11:32] kelson42 commented on #59
@veloman-yunkan Do we have blockers in other tickets? which one?

[2022-10-31 16:54] veloman-yunkan commented on #358
@kelson42 FYI, such filtering can be achieved via the most general form of query using the `q` parameter.

For example:

- http://library.kiwix.org/catalog/search?q=lang:hye%20OR%20lang:ukr&count=100
- http://library.kiwix.org/catalog/v2/entries?q=lang:hye%20OR%20lang:ukr&count=100

[2022-11-01 18:23] #358 closed

[2022-11-02 16:55] kelson42 commented on #142
@veloman-yunkan I’m not sure what to think or what to propose. Do you think something should/could be done? If « yes », what and why?

[2022-11-03 11:36] kelson42 commented on #545
It seem libmicrohttp can support both ipv4 and ipv6 at the same time or only ipv6 or only ipv4. See https://www.gnu.org/software/libmicrohttpd/manual/html_node/microhttpd_002dconst.html.

We have to choose the way how to go forward.

Being cautious, I tend to think that having first an opion —ipv6 or -6 woukd be the best approach.

[2022-11-03 21:41] gotbletu opened #583 "Possible to make Kiwix main page work with W3M terminal web browser?"
Can you make the start page work with terminal web browsers?

As you can see i dont see any of my zim files to choose from when using a TUI web browser like in a GUI web browsers.
https://imgur.com/5hOAVs3.png

It does work if i know what the exact url to the zim files tho, but i usually have to open a GUI web browsers to copy the direct link, then paste in my terminal web browser, which is annoyi

[2022-11-04 15:15] mgautierfr commented on #583
Duplicate of https://github.com/kiwix/libkiwix/issues/615

[2022-11-04 15:15] #583 closed

[2022-11-04 17:51] gotbletu commented on #583
Thanks for the update, not sure how hard it would be to generate basic html for those zim links but maybe one day it will work with all terminal web browsers

[2022-11-05 18:52] kelson42 commented on #583
@gotbletu Not very hard like written by @gotbletu but not a priority for the moment. Would be super glad if a volunteer would take that one.

[2022-11-09 06:41] kelson42 commented on #142
@veloman-yunkan ?

[2022-11-09 19:10] dustinormond commented on #487
Did you ever find out how to create zim files without server workers?

[2022-11-09 20:58] kelson42 commented on #487
@dustinormond Almost all zim files don't rely on service wrokers... but so far zimit/warc2zim still rely on serivce workers... still not sure this will change

[2022-11-10 11:03] #584 closed

[2022-11-17 07:49] veloman-yunkan commented on #142
@kelson42 I stick to [my previous comment](https://github.com/kiwix/libkiwix/pull/729#issuecomment-1135788388):

[2022-11-17 08:01] veloman-yunkan commented on #59
@kelson42 I will start working on the localization of the front-end.

[2022-11-26 09:09] kelson42 commented on #17
We shoukd not forget to update the `README.md`